@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #F5F7FA;
}

.task-container{
    animation: view 1s ease-in-out 1;
}

@keyframes view{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}