@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #F5F7FA;
}

.task-container{
    animation: view 1s ease-in-out 1;
}

@keyframes view{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.menu-bar-1{
    transform: translateY(8px) scale(0);
    transition-duration: 500ms;
}
.menu-bar-2{
    background-color: transparent;
    transition-duration: 700ms;
}
.menu-bar-3{
    transform: translateY(-8px) scale(0);
    transition-duration: 500ms;
}
.close-bar-1{
    transform: rotate(-40deg);
    transition-duration: 500ms;
}
.close-bar-2{
    transform: rotate(40deg) translateY(1px) translateX(0px);
    transition-duration: 500ms;
}

.activo-we{
    background-color: red; height: 500px;
}